<ion-header>
  <ion-navbar>
    <ion-title>
      Recommendations
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="clear()">
        <ion-icon name="trash" clear="true" color="danger"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="recommendations.length > 0">
    <ion-list-header>Our recommendations</ion-list-header>
    <ion-item *ngFor="let recommendation of recommendations">
      <ion-thumbnail item-start><img src="{{recommendation.img}}"/></ion-thumbnail>{{recommendation.name}}
      <button ion-button item-end (click)="showRecommendation(recommendation)">Show</button>
    </ion-item>
  </ion-list>

	<ion-list>
    <ion-list-header>You already bought</ion-list-header>
		<ion-item *ngFor="let item of shoppingCart">
			<ion-thumbnail item-start><img src="{{item.img}}"/></ion-thumbnail>
			<h2>{{ item.name }}</h2>
			<p>Quantity: {{ item.quantity }} - Price: {{item.price}} &euro; - Total: {{ item.quantity * item.price}} &euro;
		</ion-item>
	</ion-list>
</ion-content>
